<div{{#unless alt}} aria-hidden="true"{{/unless}} class="globalaudio__player {{#if _showPauseControl}} has-globalaudio-play-pause{{/if}}">
  <div class="globalaudio__controls">
    {{#if _showPauseControl}}
    <button class="globalaudio__playpause icon" type="button" aria-label="Pause"></button>
    {{/if}}
  </div>
</div>
