<div{{#unless alt}} aria-hidden="true"{{/unless}} class="globalaudio__player">
  <div class="globalaudio__controls">
    <button class="globalaudio__playpause icon" type="button" aria-label="Pause"></button>
  </div>
</div>
